:root {
  --main-color: #3762a0;
  --second-color: #8f1860;
  --section-bg: #06071c;
  --bg-color: #EEEEEE;
  --color-2: #506DDB;
  --color-3: #6D40DB;
  --color-4: #af1278;
  --shadow: rgba(73, 69, 82, 0.2) 0px 7px 29px 0px;
}

/*****************************************************************/
/***************************** FONTS *****************************/
/*****************************************************************/
@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"), url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "CairoRegular";
  src: local("CairoRegular"), url("./fonts/Cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Bravary";
  src: local("Bravary"), url("./fonts/Bravary/Bravary.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Platino";
  src: local("Platino"), url("./fonts/Platino/PalatinoLinotype.ttf") format("truetype");
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "CairoRegular", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Frameworks */

.container {
  max-width: 1349px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}


/* Language Swicher */

.languages img {
  border: 1px solid #EEE;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s;
}

.languages svg {
  transition: all 0.5s;
  color: #fff;
  transition: all 0.5s;
}

.languages:hover .selected-lang img {
  border: 1px solid var(--second-color);
}

.languages:hover svg {
  color: var(--second-color);
}

.shadow .languages svg {
  color: var(--main-color);
}

.languages svg.rotate {
  transform: rotate(180deg);
}

.languages {
  cursor: pointer;
  position: relative;
  padding-top: 2px;
}

.list-languages {
  position: absolute;
  top: 170%;
  right: 0;
  padding: 0 5px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 15px;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  box-shadow: var(--shadow);
  width: 160px;
}

.list-languages.show {
  transform: scaleY(1);
  opacity: 0.9;
}

.list-languages ul {
  padding-left: 0;
}

.list-languages ul li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-bottom: 1px solid #BBB;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: bold;
}

.list-languages ul li:last-of-type {
  border-bottom: 0;
}

.list-languages ul li span img {
  margin-right: 10px;
}

/*********************/
/*** ScrollBar *******/
/*********************/

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d2539;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(146, 52, 175, 0.637);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 29, 148);
}


/* Custum */ 

.css-wcby1e-MuiPaper-root-MuiAppBar-root {
  background-color: #312782 !important;
}

.en, .fr, .ru {
  direction: ltr;
  text-align: left;
}

.ar {
  direction: rtl;
  text-align: right;
}

/* Intro */

.intro_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background-image: url("/images/bg-intro.png");
  background-size: cover;
  background-position: center; */
  background-color: #011233;
  background-color: #000A1D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='749' height='749' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23012844' stroke-width='1.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23034055'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");  
  padding: 10vh 0 0 5%;
}

.ar.intro_container {
  padding: 10vh 5% 0 0;
}

.intro_content {
  width: 45%;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 30px;
  padding: 40px;
}

.intro_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 30px 0 0 30px;
  padding: 25px 0 0;
}

.ar .intro_image {
  border-radius: 0 30px 30px 0;
}

.maamoun {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.intro_content>span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.intro_content>h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #000;
  margin: 10px auto 20px;
  line-height: 80px;
}

.intro_content>p {
  font-size: 0.9rem;
  color: #444;
  margin: 0 auto;
  line-height: 20px;
}


/* Career : Eductation & Experience */

.career_container {
  display: flex;
  justify-content: space-between;
  padding: 40px 5%;
}

.education_container {
  width: 45%;
}

.education_container>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin: 0 auto 40px;
}

.experience_container {
  width: 45%;
}

.experience_container>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin: 0 auto 40px;
}

.education_item, .experience_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.education_image, .experience_image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career_image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.education_content, .experience_content {
  width: calc(100% - 70px);
}

.education_content>h3, .experience_content>h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.education_content>p, .experience_content>p {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}

.skills_container {
  padding: 40px 5%;
  background-color: #011233;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.42'%3E%3Ccircle fill='%23011233' cx='50' cy='0' r='50'/%3E%3Cg fill='%23021336' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23021438' cx='50' cy='100' r='50'/%3E%3Cg fill='%2303153b' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2304173d' cx='50' cy='200' r='50'/%3E%3Cg fill='%23051840' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23061942' cx='50' cy='300' r='50'/%3E%3Cg fill='%23071a44' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23081b46' cx='50' cy='400' r='50'/%3E%3Cg fill='%23091d48' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230b1e4a' cx='50' cy='500' r='50'/%3E%3Cg fill='%230c1f4c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d204e' cx='50' cy='600' r='50'/%3E%3Cg fill='%230f2250' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23102352' cx='50' cy='700' r='50'/%3E%3Cg fill='%23122554' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23142655' cx='50' cy='800' r='50'/%3E%3Cg fill='%23152757' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23172958' cx='50' cy='900' r='50'/%3E%3Cg fill='%23192a5a' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231B2C5B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.skills_container>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #AAA;
  margin: 0 auto 40px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.projects_container {
  padding: 40px 5%;
}

.projects_container>h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin: 0 auto 40px;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  position: relative;
  width: 31.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 300px;
  background-color: rgba(1, 18, 51, 0.5);
  border-radius: 10px;
  box-shadow: var(--shadow)
}

.project_skill0, .project_skill1 {
  position: absolute !important;
  top: 5px !important;
}

.project_skill0 {
  right: 10px !important;
}

.project_skill1 {
  right: 60px;
}

.project_title {
  position: absolute;
  top: 5px;
  left: 10px;
}

.project_company {
  height: 40px;
  width: 80px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.project_links {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

@media (max-width: 500px) {
  /* Mobile */
  .intro_container {
    height: auto;
    flex-direction: column;
    padding: 100px 20px 0;
  }
  .intro_content {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .intro_image {
    width: 70%;
    background-color: transparent;
  }
  .intro_content>h1 {
    font-size: 3.5rem;
  }
  .career_container {
    padding: 40px 20px;
    flex-direction: column;
  }
  .education_container {
    width: 100%;
  }
  .experience_container {
    width: 100%;
  }
  .project {
    width: 100%;
    margin-bottom: 20px;
  }
}